<!-- meta, stylesheets, scripts, -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="#191970"/>
<link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cookie&display=swap" rel="stylesheet">
<!-- Add fonts, theme colour -->
<link rel="stylesheet" href="/css/uikit.min.css">
<link rel="stylesheet" href="/css/master.css">
<link rel="stylesheet" href="/css/fa-all.min.css">
<link rel="shortcut icon" href="/images/favicon.ico">
<!-- Add favicon -->
<script src="/js/uikit.min.js"></script>
<script src="/js/uikit-icons.min.js"></script>
<script src="/js/jquery-3.4.1.min.js"></script>
<!-- Add google analytics for ads -->