<div id="nav-container">
  <div class="uk-container" style="position: relative;">
    <img id="nav-logo" data-src="/images/logo/logo_cropped.png" alt="Kopar" uk-img>
    <div id="nav-sub">
      <a href="contact.html"><span uk-icon="icon: receiver"></span> Contact Us</a><span>for VVIP showflat viewing!</span>
    </div>
  </div>
</div>

<div id="nav" class="uk-flex uk-flex-center uk-flex-wrap">
  <a rel="canonical" href="/">Home</a>
  <a href="details.html">Details</a>
  <a href="location.html">Location</a>
  <a href="developer.html">Developer</a>
</div>
