/* 
COLOURS
midnightblue #191970 - main theme, dark blue
#e8b28e - accent, light brown
FONTS
Nunito for normal text
Playfair Display for fancy text
*/

h1, h2, h3, h4, h5, h6, * {
    font-family: 'Nunito', sans-serif;
    font-weight: 450;
}

a:hover, a:active {
    text-decoration: none !important;
}
/* Chevron animation on links */
.button-arrow {
    background-color: transparent;
    color: #333;
    font-size: 18px;
    padding: 7px;
    border: 1px solid #bca68f;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.button-arrow:after {
    opacity: 0;
    content: '>';
    position: absolute;
    right: -10px;
    transition: 0.5s;
}
.button-arrow:hover, .button-arrow:focus {
    padding-right: 25px;
    color: #333;
}
.button-arrow:hover:after, .button-arrow:focus:after {
    opacity: 1;
    right: 10px;
}

.fancy-font {
    font-family: 'Playfair Display', serif;
}
.blue-font, .blue-font * {
    color: midnightblue;
}
.divider
{
	position: relative;
	margin: 40px 0px 40px 0px;
	height: 1px;
}
.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(188,166,143), transparent);
}
.uk-section {
    padding-top: 20px;
    -webkit-animation: fadein 0.8s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.8s; /* Firefox < 16 */
    -ms-animation: fadein 0.8s; /* Internet Explorer */
    -o-animation: fadein 0.8s; /* Opera < 12.1 */
    animation: fadein 0.8s;
}
#home-card {
    position: relative;
    padding: 0px 3px;
    z-index: 2;
}
#home-cover-tile {
    position:relative;
}
#home-logo-tile {
    padding-top: 5px;
    position: absolute;
    text-align:center;
    top: 60%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 40%;
    background-color: rgba(0, 0, 0, 0.6);
}
#nav {
    padding-top: 60px;
    margin-bottom: 5px;
}

#nav-container {
    background-color: #26293C;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

#nav-logo {
    position: absolute;
    top: 5px;
    left: 20px;
    height: 50px;
    float: left;
} 
#nav-sub {
    z-index: 2;
    padding: 5px 0px;
    text-align: center;
    font-size: 18px;
    color: #e8b28e;
}
#nav-sub a {
    color: #e8b28e;
}

#nav a {
    color: #26293C;
}

#nav a, #nav-sub a {
    display: inline-block;
    width: 150px;
    padding: 5px 5px 2px 5px;
    margin: 5px;
    text-align: center;
    font-size: 22px;
}

#nav a:hover, #nav a:active, #nav-sub a:hover, #nav-sub a:active, #active {
    box-shadow: 0 2px #bca68f;
}

#whatsapp i {
    font-size: 2rem;
}
#whatsapp {
    color:green;
    background-color: white;
    float:right;
    white-space:nowrap;
    overflow: hidden;
    text-overflow:clip;
    position: sticky;
    bottom: 40px;
    right: 20px;
    padding: 7px;
    border: 2px solid green;
    border-radius: 30px;
    transition: 0.5s;
    z-index: 5;
}
#whatsapp>span {
    position: absolute;
    left: 10px;
    bottom: 13px;
    transition: 0.5s;
}

/* QUERIES */
/* medium breakpoint */
@media screen and (max-width: 960px) {
    footer * {
        text-align: center;
    }
    footer>div>div>* {
        padding: 0px 10px;
    }
    footer img {
        max-height: 80px;
        position: static;
        margin:auto;
    }
    #nav-logo {
        display: none;
    }
}

/* small breakpoint */
@media screen and (max-width:640px) {
    #nav a, #nav-sub a {
        font-size: 18px;
        width: 80px;
        margin: 3px;
    }
    #nav-sub a {
        font-size: 18px;
        width: auto;
    }
    #nav-sub > span {
        display: none;
        margin: 10px 0px;
    }
}

/* WhatsApp CSS */
@media screen and (max-width: 1000px) {
    #whatsapp {
        padding-left: 7px;
    }
    #whatsapp>span {
        opacity:0;
    }
    #whatsapp:hover, #whatsapp:focus {
        padding-left: 120px;
    }
    #whatsapp:hover>span, #whatsapp:focus>span {
        opacity:1;
    }
}
@media screen and (min-width: 1000px) {
    #whatsapp {
        bottom: 60px;
        padding-left: 120px;
    }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    #whatsapp {
        position:relative;
    }
}